body{
    min-height: 100vh;
    background:url('images/wallpaperflare.com_wallpaper.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Nunito", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background: transparent;
    top: 0;
    left: 0;
    padding: 20px 40px;/* top-bottom and left-right */
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index:100;
    box-sizing: border-box;
    
    
}

.logo{
    font-size: 30px;
    color:rgb(21, 11, 132);
    text-decoration: none;
    font-weight: 800;
}

.navbar{
    display:flex;
    gap:40px;
}
.navbar a {
    font-size: 18px;
    color: rgb(21, 11, 132);;
    font-weight: 700;
    text-decoration: none;
    position: relative;
}
.navbar a::before{
    content: '';
    position:absolute;
    top:100% ;
    left:0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: .3s;

}
.navbar a:hover::before{
width:100%
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 50px; 
    z-index: 1;
}
.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.container {
    width: auto;
    height: auto;
    background-color:#e9e6e1; 
    padding: 20px;
    margin: 225px;
    text-align: center;
    color: #030406; 
    font-size: 18px;
    background:#ebda938d;
    border-radius: 10px;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
}
.form-group label {
    text-align: left;
    display: block;
    margin-bottom: 10px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.user {
    text-decoration: none;
    color: #030406;
    margin-left: 5px; 
}

.button {
    border-radius: 4px;
    background: #359db6;
    border: 0;
    color: #030406;
    font-size: 20px;
    padding: 6px;
    margin: 12px 25px 12px 0; 
    font-weight: 200;
}
